body{
  background-color:rgba(0,173,255,1);
}


.nav-header{
  background: url(https://s27.postimg.org/q4bag7wib/Flower_header_Background.jpg);
  
}
.logo{
  margin-left:7%;
  margin-bottom: 20px;
}
.menu{
   margin-top:40px;
   margin-left: 94px; 
 }

.menu a{
  width: 68px;
  height: 19px;
  font-family: 'Raleway', serif;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 30px ;
  font-weight: 100;
  
}

.icon-facebook{
  width:5%;
  display: inline-block;  
 }



.section-one{
 background:url(https://s2.postimg.org/hxab7bka1/Flowers_Background.jpg);
 height: 323px;
}
.title-main {

font-family: Alice;
font-size: 36px;
color: #4A4A4A;
opacity: 0.9;
margin-top: 12px;
 
}
.tittle-white{

font-family: Alice;
font-size: 35px;
line-height: 31px;
letter-spacing: 2px;
color: #FFFFFF; 

}

.small-tittle{
font-family:'Raleway', serif ;
font-size: 15px;
color: #4A4A4A;
padding: 5px 0;
margin-top: 20px;
}



.btn-date{
width: 70%;
height: 42px;
background-color: #FFFFFF;
border-radius: 100px;
font-family: Alice;
font-size:16px;
margin-bottom: 20px

}

.img-pro-voet{
  position: absolute;
    right: 77px;
    bottom: 20px;
}

.section-white{
 background-color: #FFFFFF;
}
.title-center {
font-family:'Raleway', serif ;
font-size: 37px;
line-height: 41px;
color: #4A4A4A;
padding:60px 0 10px;
font-weight: 600; 
}



.text-gray{
font-family: 'Raleway', serif;
font-size: 17px;
line-height: 23px;
color: #9B9B9B;
font-weight: 600;
opacity: 0.9;
letter-spacing:1px;
}

.text-small-blue{
 font-family: 'Raleway', serif ;
 font-size: 14px;
 line-height: 19px;
 color: rgba(0,173,255,1);
 opacity: 0.7;
 margin-top: 33px;
 margin-bottom: 55px;
  }

.section-trhee{
    background-color: #BDEAFF;

}
.content-join{
color: #4A4A4A;
font-family: 'Raleway', serif;
font-size: 14px;
margin-bottom: 45px;
opacity: 0.8;

}

.section-color-gray{
  background-color: #C8C8C8;
}

.section-four img{
  float:right;
}

.title-services{
color: #FFFFFF;
font-family: 'Raleway', serif;
font-size: 24px; 
margin-top: 40px;
font-weight: 500; 
line-height: 7px;    

}
.title-small-services{
  color: #FFFFFF;
font-family: 'Raleway', serif;
font-size: 17px; 
font-weight: 500;
line-height: 27px;
opacity:0.9;
}

.content-rigth-services{
 color: #4A4A4A;
font-family: 'Raleway', serif;
font-size: 14px;
margin-bottom: 8px;
line-height: 23px;
text-align: justify;
opacity: 0.8;

}

.title-small{
  font-family: 'Raleway', serif;
  font-weight: 600;
  line-height:5px;
}

.section-four button{
  width: 50%;
  margin-bottom:40px;
}

.separation-section-services{
  background-color:  #FFFFFF;
  height: 1%;
}
.content-small-services{
  color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 29px;
}
.section-ligth-blue{
background-color: #BDEAFF;

}
.title-small-section-seven{
color: #4A4A4A;
font-size:20px;
margin-top: 30px;
font-weight: 500;
line-height: 8px;
}
  

.img-logo-footer{
  margin-top: 25px;

}  

.subtitle-section-one-services {
    color: #9B9B9B; 
    font-family: 'Raleway', serif; 
    font-size: 16px;  
    font-weight: 100;
    line-height: 0px;
    margin-bottom: 67px;
}



.section-one-services ul li,.section-two-services ul li {
  color: #4A4A4A; 
  font-family: 'Raleway', serif; ; 
  font-size: 16px;  
  line-height: 17px;
  font-weight: 300;
  
}


.section-one-services ul p{
  font-size: 13px; 
  line-height: 16px;
  opacity: 0.5;

}


.section-one-services ul ol{
  color: #4A4A4A; 
  font-family: 'Raleway', serif; ; 
  font-size: 16px;  
  line-height: 17px;
  font-weight: 600; 
}
.section-one-services button{ 
  background-color: #00ADFF;
  width: 210px;
  color: #FFFFFF;
  margin-bottom: 30px;
  margin-top: 25px;
}

.section-one-services img{
  position: absolute;
    right: 18px;
    top: 32px;
}

.section-two-services{
background-color: #BDEAFF;

}


.subtitle-section-two-services{
color: #00ADFF;
font-size: 17px;
letter-spacing: 1px;
margin-top: -18px;
margin-bottom: 25px;

}

.section-two-services ul li,ul ol{
  line-height: 25px;
}
.separate-blue{
  background-color: #00ADFF;
 color: #FFFFFF;
 font-family: 'Raleway', serif; 
 font-size: 16px;  
 font-weight: 600; 
 letter-spacing: 1px;
 margin-top: 15px;
 margin-bottom: 11px;
}
.section-trhee-services p{
  font-family: 'Raleway', serif; 
 font-size: 16px;
 font-weight: 300;
 margin-top: 35px;
 margin-bottom: 30px;
}
.separate-ligth-blue{
  background-color: #BDEAFF;
  height: 50px;
}
.section-one-about-me{
background: url(https://s3.postimg.org/4alcj0pr7/About_Me-_Petra-_Baas-_Medi-_Voet_Zorg.jpg);

}
.tittle-section-one-about-me{
  font-size: 24px;
  font-family: 'Raleway', serif; 
  font-weight: 500;
  color: #ffffff;
  line-height: 1px;
}
.subtittle-section-one-about-me{
font-size: 24px;
  font-family: 'Raleway', serif; 
  font-weight: 100;
  color: #ffffff;

}


.content-section-one-about-me{
 margin-left: 150px;
    margin-bottom: 85px;
    margin-top: 130px;
    
}

.text-section-one-about-me{
 color: #FFFFFF;
    font-family: 'Raleway', serif;
    font-size: 15px;
    font-weight: 100;
    margin-top: 25px;
    letter-spacing: 1px;
}

.section-one-about-me img{
position: absolute;
    margin-top: 27px;
}
.tittle-blue-about-me{
color: rgba(0,173,255,1);
font-size: 20px;
font-family: 'Raleway', serif; 
font-weight: 300;
margin-top: 70px;
margin-bottom: 25px;

}

.text-section-two-about-me{
font-family: 'Raleway', serif; 
font-weight: 300;
font-size: 14px;
margin-bottom: 50px;
}


.section-two-about-me button{
 width: 225px;
 height: 42px;
 border-radius: 100px;
 background-color: #00ADFF;
 color: #ffffff;
  margin-top: 15px;
  line-height: 1px;

}

.contact-us-form img{
margin-left: 141px;
    margin-top: 30px;
    position: absolute;
}

.small-text-about-me{
  font-family: 'Raleway', serif;
    font-size: 15px;
    color: #4A4A4A;
    margin-bottom: 50px;
    margin-top: 6px;
}




.title-main-contact-us{ 
  color: #4A4A4A; 
  font-family: Alice; 
  font-size: 38px;  
  letter-spacing: 3px;
  line-height: 11px;
  margin-top: 80px;
}

.subtitle-section-contact{
  color: #4A4A4A;
  font-family: "Gill Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}
.small-tittle-section-contact{
 color: #4A4A4A; 
 font-family:'Raleway', serif; 
 font-size: 14px;  
 line-height: 19px;
 font-weight:100;
}


.input-fom-contact-us{
background-color:#E5E5E5; 
border-radius: 0px;

}

.contact-us-form button {
width: 171px;
height: 44px;
border-radius: 100px;
background-color: #00ADFF;
color: #ffffff;
border-color: #00ADFF;
margin-left: 163px;
margin-bottom: 35px;
margin-top: 30px;

}


.small-text-contact{
font-family:'Raleway', serif ;
font-size: 15px;
color: #4A4A4A;
}

.footer-contact-us{
font-size: 13px;
font-family: 'Raleway', serif ;
margin-top: 50px;
margin-bottom: 10px;
opacity: 0.7;

}

.footer-img-contact-us{
  background: url(https://s27.postimg.org/q4bag7wib/Flower_header_Background.jpg);
  padding: 30px;

}

.section-footer{
  background:url(https://s2.postimg.org/hxab7bka1/Flowers_Background.jpg);
}


.title-footer{
  height: 28px; 
    color: #FFFFFF;
    font-family: Alice;
    font-size: 24px;
   font-weight: 500;
    letter-spacing: 1px;
    margin-top: 15px;
}
.subtittle-footer{
    color: #4A4A4A;
    font-family: "Gill Sans";
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 25px;
}


.content-personal-data-footer{

  color: #4A4A4A;
    font-family: 'Raleway', serif;
    font-size: 14px;
    font-weight: 300;
}
.content-right-footer{
  margin-left: 83px;
}

.title-form-footer{
    height: 40px; 
    color: #4A4A4A;
    font-family: "Gill Sans";
    font-size: 16px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 19px;
    margin-left: -14px;
}


.input-form-footer{
background-color: #BDEAFF;
}

.form-footer{
  width: 86%;
}

.section-footer button{
 width: 142px;
    height: 44px;
    border-radius: 100px;
    background-color:#ffffff ;
    color: #00ADFF;
    border-color: #ffffff;
    margin-left: 45px;
    }




   