body{
  background-color:rgba(0,173,255,1);
}

.big-header {
  background:url(https://s4.postimg.org/wlaur7vb1/Flowers_Background-plus.png);
}

.nav-header{
  background: url(hhttps://s29.postimg.org/le18ks4l3/Flowers_Background-plus.jpg);
  
}

.logo {
  margin-left: 113px;

}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}

.navbar-default {
  background: transparent;
  border: 0;
  box-shadow: 0px 0px 0px transparent;
}


nav li a{
  font-family: 'Raleway', serif!important;
  font-size: 16px!important;
  color: #FFFFFF!important;
  font-weight: 100!important;
  padding-top: 50px !important;
  margin: 37px 15px 0 15px!important;
  padding: 0!important;
}
nav li a  img {
    max-width: none;
    margin-left: -14px !important;
        margin-top: -4px;
}

a{
  color: #000000!important;
}


.title-main {

  font-family: Alice;
  font-size: 33px;
  color: #4A4A4A;
  opacity: 0.9;
  margin-top: 20px;

}
.tittle-white{

  font-family:'Raleway', serif  ;
  font-size: 36px;
  line-height: 34px;
  letter-spacing: 1px;
  color: #FFFFFF; 
padding-bottom: 10px;
}

.small-tittle{
  font-family:'Raleway', serif ;
  font-size: 16px;
  color: #4A4A4A;
  margin-bottom: 35px;
  opacity: 0.8;
  width: 103%;
}



.btn-date{
  width: 70%;
  height: 42px;
  background-color: #FFFFFF;
  border-radius: 100px;
  font-family: 'Raleway', serif;
  font-size:14px;
  margin-bottom: 20px

}

.btn-date:hover{

  color: rgba(0,173,255,1)!important;

}

.img-big-foot{
margin-left: 40px;
}

.icon-bar {
    background-color: #fff !important;
}


@media (max-width: 537px) {
  .title-small-section-seven{
    line-height: 20px !important;
  }
}

@media (max-width: 767px) {
  
  .navbar-header{
    text-align: center !important;
    padding-left: 32px;
  }
  nav li a{
    text-align: right;
    color: #000000 !important;
    font-weight: 500 !important;
    font-size: 17px!important;
    line-height: 0px!important;
  }
  nav li a img{
    float: right;
  }
  .tittle-white {
  display: none !important;
}
.title-main {
  margin-top: 0px!important;
  line-height: normal !important;
}
.section-one button{
  margin-bottom: 26px!important;
}
.small-tittle{
  margin-bottom: 8px!important;

}
  
}
@media (max-width: 992px) {


  .section-color-gray {
    text-align: center;
  }
  .content-rigth-services{
    text-align: center !important;
  }
  .img-section-gray{
    display: inline-block;
  }
  .first-pice-footer{
    text-align: center !important; 
    padding-top: 55px !important;
    margin-bottom: 55px !important;
    margin-left: 0 !important;
  }
  
  .title-form-footer{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .content-right-footer{
    margin-left: 0!important;
  }
  .form-footer{
    width: 87% !important;
    margin-left: 37px !important;
  }

  .img-logo-footer{
    margin-top: 0px!important;
  }

}

@media (max-width: 500px) {
.form-footer{
 margin-left: 20px !important;
}
  
}

@media (max-width: 991px) {
  .img-big-foot {
   display: none !important;
  }
}






@media (max-width: 996px) {
  
  .img-pro-voet{
    display: none;
  }
  .logo{
   height: 55px;
   width: 191px;
   margin-left: 6px;
 }
 nav li a{
  padding-top: 0px !important;
} 
}


@media (max-width: 1199px) {
  .contact-complete{
    display: none !important;
  }
  .contact-responsive{
    display: inline-block;
  }
  .contact-us-form img {
    display: none;

  }
  .contact-us-form {
    text-align: center !important;
  }
  .img-big-foot {
    margin-top: 19px;
  }
.img-pro-voet {
  right: -37px !important;
}

}

@media (max-width: 1206px){
  .second-pice-footer{
    text-align: center!important;
  }
  .form-group button{
    text-align: center! important;
  }
  .section-footer button{
    margin-left: 0 !important
  }
  .small-text-contact{
    display: none !important;

  }
  .contact-us-form img {
    margin-left: 85px !important;

  }
  .contact-us-form img {
    margin-left: 101px !important;
  }
  .contact-us-form button {
    text-align: center;
    margin-left: 0!important;
  }
}

@media (min-width: 767px) {
  .current-page{
    border-bottom-width: 1px!important;
    border-bottom-color: white!important;
    border-bottom-style: solid!important;
    padding-bottom: 5px!important;
  }
}


@media (min-width: 1200px) {
  .contact-complete{
    display: inline-block;
  }
  .contact-responsive{
    display: none !important;
  }
}

@media (max-width: 400px) {
  .title-main-contact-us{
    line-height: 30px !important;

  }
  .title-center{
    font-size: 28px!important
  }

}

@media (max-width: 405px) {
  .title-main-contact-complete{
    display: none;
  }
  .title-main-contact-responsive{
    line-height: 27px !important;
  }
}
  @media (min-width: 406px){
  .title-main-contact-responsive{
display: none;
   
   }

  }




@media (min-width: 992px) {
  
  .img-pro-voet{
    position: absolute;
    right: 42px;
    bottom: 21px;
  }
    
}
@media screen and (max-width: 767px){ 
.table-responsive {
border: transparent!important;
}
}
@media only screen and (max-width: 995px) and (min-width: 767px)  {

.logo {
    height: 65px!important;
    margin-left: 78px !important;
    width: 215px !important;

}}

@media only screen and (max-width: 1999px) and (min-width: 992px)  {

.tittle-white{
  font-size: 29px!important;
}
.title-main {
  font-size: 27px!important;
}}

.section-white{
 background-color: #FFFFFF;
}
.title-center {
  font-family:'Raleway', serif ;
  font-size: 36px;
  line-height: 41px;
  color: #4A4A4A;
  padding:50px 0 5px;
  font-weight: 600; 
}



.text-gray{
  font-family: 'Raleway', serif;
  font-size: 16px;
  line-height: 23px;
  color: #9B9B9B;
  font-weight: 600;
  opacity: 0.9;
  letter-spacing:1px;
}

.text-small-blue{
 font-family: 'Raleway', serif ;
 font-size: 14px;
 line-height: 19px;
 color: #87CEFA;
 
 margin-top: 33px;
 margin-bottom: 55px;
}

.section-trhee{
  background-color: #BDEAFF;

}
.content-join{
  color: #4A4A4A;
  font-family: 'Raleway', serif;
  font-size: 14px;
  margin-bottom: 25px;
  opacity: 0.8;

}

.section-color-gray{
  background-color: #C8C8C8;
}



.title-services{
  color: #FFFFFF;
  font-family: 'Raleway', serif;
  font-size: 24px; 
  margin-top: 40px;
  font-weight: 500; 
  line-height: 28px;    

}
.title-small-services{
  color: #FFFFFF;
  font-family: 'Raleway', serif;
  font-size: 17px; 
  font-weight: 500;
  line-height: 27px;
  opacity:0.9;
}

.content-rigth-services{
 color: #4A4A4A;
 font-family: 'Raleway', serif;
 font-size: 14px;
 margin-bottom: 8px;

 opacity: 0.8;

}

.title-small{
  font-family: 'Raleway', serif;
  font-weight: 600;
  line-height:5px;
  margin-top: 30px
}

.section-four button{
  width: 55%;

}

.separation-section-services{
  background-color:  #FFFFFF;
  height: 1%;
}
.content-small-services{
  color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 29px;
}
.section-ligth-blue{
  background-color: #BDEAFF;

}
.title-small-section-seven{
  color: #4A4A4A;
  font-size:20px;
  margin-top: 45px;
  font-weight: 500;
  line-height: 8px;
  padding-bottom: 4px
}
.section-color-gray-center button{
  text-align: center;
}

.img-logo-footer{
  margin-top: 25px;

}  

.subtitle-section-one-services {
  color: #9B9B9B; 
  font-family: 'Raleway', serif; 
  font-size: 16px;  
  font-weight: 100;
  line-height: 0px;
  margin-bottom: 67px;
}



.section-one-services tr td , .section-two-services tr td {
  color: #4A4A4A !important; 
  font-family: 'Raleway', serif !important; 
  font-size: 16px !important;  
  line-height: 17px !important;
  font-weight: 300 !important;
  opacity: 0.9 !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {

  border-top: 0px solid transparent;
  padding-top: 5px;
}
.table{
  margin-bottom: 40px !important ;
  width: 80%;
  margin-left: 60px!important;
}

.section-one-services tr td p{
  font-size: 13px;
  opacity: 0.8;
  padding-left: 7px;

}


.section-one-services button{ 
  width: 225px;
    height: 42px;
    border-radius: 100px;
    background-color: #00ADFF;
    color: #ffffff;
    margin-top: 15px;
    line-height: 1px;
    margin-bottom: 49px;
}

.section-one-services img{
  position: absolute;
  right: 18px;
  top: 32px;
}

.section-two-services{
  background-color: #BDEAFF;
  margin-bottom: 30px;

}


.subtitle-section-two-services{
  color: #00ADFF;
  font-size: 17px;
  letter-spacing: 1px;
  margin-top: -18px;
  margin-bottom: 25px;

}

.section-two-services ul li,ul ol{
  line-height: 25px;
}
.separate-blue{
  background-color: #00ADFF;
  color: #FFFFFF;
  font-family: 'Raleway', serif; 
  font-size: 16px;  
  font-weight: 600; 
  letter-spacing: 1px;
  margin-top: 15px;
  margin-bottom: 25px;
}
.section-trhee-services p{
  font-family: 'Raleway', serif; 
  font-size: 16px;
  font-weight: 300;
  margin-top: 35px;
  margin-bottom: 30px;
}
.separate-ligth-blue{
  background-color: #BDEAFF;
  height: 50px;
}
.section-one-about-me{
  background: url(https://s3.postimg.org/4alcj0pr7/About_Me-_Petra-_Baas-_Medi-_Voet_Zorg.jpg);

}



@media (max-width: 991px) {
.content-section-one-about-me{
  background-color: rgba(0,0,0,0.6) !important;
background:no-repeat;
}
  
  
  .section-one-about-me img {
    display: none;
  }   
.content-section-one-about-me{
 margin-left: 0px !important;
 text-align: center;

 }

}

@media only screen and (max-width: 1199px) and (min-width: 992px)  {
 .content-section-one-about-me{ 
margin-left: 175px !important;
padding-bottom: 60px!important;

}
.img-provoet-about-me{
  display: none!important;
}

}
.tittle-section-one-about-me{
  font-size: 24px;
  font-family: 'Raleway', serif; 
  font-weight: 500;
  color: #ffffff;
  line-height: 1px;
}
.subtittle-section-one-about-me{
  font-size: 24px;
  font-family: 'Raleway', serif; 
  font-weight: 100;
  color: #ffffff;

}


.content-section-one-about-me{
 margin-left: 150px;
 padding-bottom: 67px;
    padding-top: 68px;
 
}

.text-section-one-about-me{
 color: #FFFFFF;
 font-family: 'Raleway', serif;
 font-size: 15px;
 font-weight: 100;
 margin-top: 25px;
 letter-spacing: 1px;
}

.section-one-about-me img{
  position: absolute;
  margin-top: 26px;
  margin-left: -53px;
}
.tittle-blue-about-me{
  color: rgba(0,173,255,1);
  font-size: 20px;
  font-family: 'Raleway', serif; 
  font-weight: 300;
  margin-top: 70px;
  margin-bottom: 25px;

}

.text-section-two-about-me{
  font-family: 'Raleway', serif; 
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 50px;
}


.section-two-about-me button{
 width: 225px;
 height: 42px;
 border-radius: 100px;
 background-color: #00ADFF;
 color: #ffffff;
 margin-top: 15px;
 line-height: 1px;

}

.contact-us-form img{
  margin-left: 141px;
  margin-top: 30px;
  position: absolute;
}

.small-text-about-me{
  font-family: 'Raleway', serif;
  font-size: 15px;
  color: #4A4A4A;
  margin-bottom: 50px;
  margin-top: 6px;
}




.title-main-contact-us{ 
  color: #4A4A4A; 
  font-family: Alice; 
  font-size: 38px;  
  letter-spacing: 3px;
  line-height: 11px;
  margin-top: 80px;
}

.subtitle-section-contact{
  color: #4A4A4A;
  font-family: "Gill Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}
.small-tittle-section-contact{
 color: #4A4A4A; 
 font-family:'Raleway', serif; 
 font-size: 14px;  
 line-height: 19px;
 font-weight:100;
}


.input-fom-contact-us{
  background-color:#E5E5E5; 
  border-radius: 0px;

}

.contact-us-form button {
  width: 171px;
  height: 44px;
  border-radius: 100px;
  background-color: #00ADFF;
  color: #ffffff;
  border-color: #00ADFF;

  margin-top: 30px;

}


.small-text-contact{
  font-family:'Raleway', serif ;
  font-size: 30px;
  color: #4A4A4A;
}

.footer-contact-us{
  font-size: 14px;
  font-family: 'Raleway', serif ;
  margin-top: 50px;
  margin-bottom: 10px;
  

}

.footer-img-contact-us{
  background: url(https://s27.postimg.org/q4bag7wib/Flower_header_Background.jpg);
  padding: 30px;

}

.section-footer{
  background:url(https://s2.postimg.org/hxab7bka1/Flowers_Background.jpg);
}


.title-footer{
  height: 28px; 
  color: #FFFFFF;
  font-family: Alice;
  font-size: 24px;
  font-weight: 500;
  margin-top: 15px;
}
.subtittle-footer{
  color: #4A4A4A;
  font-family: "Gill Sans";
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 25px;
}


.content-personal-data-footer{

  color: #4A4A4A;
  font-family: 'Raleway', serif;
  font-size: 14px;
  font-weight: 300;
}
.content-right-footer{
  margin-left: 83px;
}

.title-form-footer{
  height: 40px; 
  color: #4A4A4A;
  font-family: "Gill Sans";
  font-size: 16px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 19px;
  margin-left: -14px;
}


.input-form-footer{
  background-color: #BDEAFF;
}

.form-footer{
  width: 100%;
}

.section-footer button{
 width: 142px;
 height: 44px;
 border-radius: 100px;
 background-color:#ffffff ;
 color: #00ADFF;
 border-color: #ffffff;
 margin-left: 9px;
}

.section-one-services ul li span{
  margin-left: 90px;

} 


